.svn/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Python
*.pyc

sumo/docs/
sumo/tools/

tollgate/output/
import/map.net.xml
import/map.osm.xml
import/map.poly.xml
tollgate/data/map.out
